@import url(https://fonts.googleapis.com/css?family=Caveat&display=swap);
@import url(https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap);
body {
  width: 100%;
  height: 100%;
  background-color: #191919;
  overflow: hidden; }
  body .first-page {
    width: 100%;
    height: 100vh;
    background-color: #191919;
    color: #fff;
    /*home page letters*/ }
    body .first-page .heading {
      height: 12%; }
      body .first-page .heading .heading-logo {
        width: 12%;
        float: left;
        margin: 2.5%; }
      body .first-page .heading h1 {
        font: 400 2rem 'Caveat', cursive;
        float: left;
        margin: 3% 2.5% 0 2.5%;
        color: #fff; }
      body .first-page .heading .ham-but {
        height: 15px;
        width: 27px;
        margin: 23.5px 15px 0 0;
        float: right;
        transition: 0.3s; }
        body .first-page .heading .ham-but .ham-line {
          width: 100%;
          height: 1px;
          background-color: #fff;
          transition: 0.1s;
          position: relative; }
        body .first-page .heading .ham-but .first-line {
          background-color: #69C9CF; }
        body .first-page .heading .ham-but .second-line {
          top: 7px;
          background-color: #ED2052; }
        body .first-page .heading .ham-but .third-line {
          top: 14px;
          background-color: #69C9CF; }
        body .first-page .heading .ham-but .change1 {
          top: 8px;
          transform: rotate(45deg); }
        body .first-page .heading .ham-but .change2 {
          transform: rotate(-45deg);
          top: 7px; }
    body .first-page .nav-bar {
      width: 100px;
      float: right;
      display: none; }
      body .first-page .nav-bar .nav-line {
        height: 30px;
        width: 90%;
        font: 600 20px 'Roboto', sans-serif;
        margin: 25px 0 0 0;
        /*background-color: brown;*/ }
    body .first-page .home-page-heading {
      color: #fff;
      margin: 30% 0 0 5%; }
      body .first-page .home-page-heading .name {
        display: none;
        font: 400 3rem 'Do Hyeon', sans-serif; }
      body .first-page .home-page-heading .last-name {
        display: none;
        font: 400 3rem 'Do Hyeon', sans-serif; }
      body .first-page .home-page-heading .web-developer {
        display: none;
        font: 400 2rem 'Do Hyeon', sans-serif; }
      body .first-page .home-page-heading .flashing {
        animation: flashing 1s infinite;
        font: 400 3rem 'Do Hyeon', sans-serif; }
@keyframes flashing {
  0% {
    opacity: 0%; }
  50% {
    opacity: 100%; }
  100% {
    opacity: 0%; } }
    body .first-page .vm {
      background: url("../img/logo-black-256.png");
      background-size: cover;
      position: absolute;
      bottom: 20%;
      animation: opacity 4s infinite;
      opacity: 20%; }
@keyframes opacity {
  0% {
    opacity: 2%; }
  50% {
    opacity: 20%; }
  100% {
    opacity: 2%; } }
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body header {
    height: 100px; }
    body header .logo {
      width: 80px;
      margin-top: 10px; }
    body header .ham-but {
      margin: 42.5px 20px 0 0; }
  body .nav .logo-nav {
    width: 100px;
    margin-top: 50px; }
  body .nav .nav-list {
    margin-top: 100px; }
  body .nav .usluge-show {
    width: 55px;
    height: 65px; }
    body .nav .usluge-show img {
      margin-top: 27.5px; }
  body .nav a {
    font: 400 30px 'Open Sans', sans-serif; }
  body .nav li {
    padding: 25px 0; }
  body .nav .proslave-show {
    width: 55px;
    height: 65px; }
    body .nav .proslave-show img {
      margin-top: 27.5px; }
  body .nav .nav-footer .social {
    width: 80px; }
    body .nav .nav-footer .social a {
      width: 25px; }
      body .nav .nav-footer .social a img {
        width: 25px; }
  body .main-container {
    /* ABOUT US */
    /* CONTACT */
    /* GALERIJA */
    /*USLUGE CLASSE ZA EXTEND*/
    /* RODJENDANI*/
    /* DOGADJAJI*/
    /*BUKETI*/
    /*BOX*/
    /*USLUGE FOOTER*/ }
    body .main-container .about-us .img-container {
      display: inline-block;
      margin-left: 30px; }
    body .main-container .about-us .about-us-info-container {
      width: 350px;
      margin: 50px 0 0 30px;
      display: inline-block; }
    body .main-container .contact .img-container {
      display: inline-block;
      margin-left: 30px; }
    body .main-container .contact .contact-main-line {
      width: 350px;
      margin: 50px 0 0 30px;
      display: inline-block;
      display: none; }
    body .main-container .contact .contact-text {
      width: 350px;
      margin: 50px 0 0 30px;
      display: inline-block;
      padding: 0; }
    body .main-container .contact .contact-info-container {
      width: 90%;
      padding: 0 0 50px 10%; }
      body .main-container .contact .contact-info-container .cont-info {
        width: 45%;
        display: inline-block; }
    body .main-container .galerija .galerija-slike .gal-img-container {
      height: 150px; }
    body .main-container .usluge-tab, body .main-container .vencanja, body .main-container .rodjendani, body .main-container .dogadjaji, body .main-container .buketi, body .main-container .box {
      width: 100%;
      background-color: #162027;
      text-align: center; }
    body .main-container .usluge-head-tab, body .main-container .vencanja .vencanja-head, body .main-container .rodjendani .rodjendani-head, body .main-container .dogadjaji .dogadjaji-head, body .main-container .buketi .buketi-head, body .main-container .box .box-head {
      width: 100%;
      background-color: #162027;
      padding: 100px 0 10px 0; }
      body .main-container .usluge-head-tab img, body .main-container .vencanja .vencanja-head img, body .main-container .rodjendani .rodjendani-head img, body .main-container .dogadjaji .dogadjaji-head img, body .main-container .buketi .buketi-head img, body .main-container .box .box-head img {
        width: 130px;
        padding: 30px; }
    body .main-container .usluge-img-container-tab, body .main-container .vencanja .vencanja-head .img-container, body .main-container .rodjendani .rodjendani-head .img-container, body .main-container .dogadjaji .dogadjaji-head .img-container, body .main-container .buketi .buketi-head .img-container, body .main-container .box .box-head .img-container {
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      height: 400px; }
      body .main-container .usluge-img-container-tab h2, body .main-container .vencanja .vencanja-head .img-container h2, body .main-container .rodjendani .rodjendani-head .img-container h2, body .main-container .dogadjaji .dogadjaji-head .img-container h2, body .main-container .buketi .buketi-head .img-container h2, body .main-container .box .box-head .img-container h2 {
        font: 500 40px 'Open Sans', sans-serif;
        color: #fff;
        padding-top: 15%; }
      body .main-container .usluge-img-container-tab img, body .main-container .vencanja .vencanja-head .img-container img, body .main-container .rodjendani .rodjendani-head .img-container img, body .main-container .dogadjaji .dogadjaji-head .img-container img, body .main-container .buketi .buketi-head .img-container img, body .main-container .box .box-head .img-container img {
        width: 80px; }
    body .main-container .usluge-info-tab, body .main-container .vencanja .vencanja-info, body .main-container .rodjendani .rodjendani-info, body .main-container .dogadjaji .dogadjaji-info, body .main-container .buketi .buketi-info, body .main-container .box .box-info {
      width: 90%;
      background-color: #162027;
      text-align: left;
      color: #fff;
      margin: 0 auto;
      padding-bottom: 30px; }
      body .main-container .usluge-info-tab h5, body .main-container .vencanja .vencanja-info h5, body .main-container .rodjendani .rodjendani-info h5, body .main-container .dogadjaji .dogadjaji-info h5, body .main-container .buketi .buketi-info h5, body .main-container .box .box-info h5 {
        font: 400 25px 'Open Sans', sans-serif;
        margin-left: 10px; }
      body .main-container .usluge-info-tab p, body .main-container .vencanja .vencanja-info p, body .main-container .rodjendani .rodjendani-info p, body .main-container .dogadjaji .dogadjaji-info p, body .main-container .buketi .buketi-info p, body .main-container .box .box-info p {
        font: 400 17px 'Open Sans', sans-serif; }
    body .main-container .usluge-slike-tab, body .main-container .vencanja .vencanja-slike, body .main-container .rodjendani .rodjendani-slike, body .main-container .dogadjaji .dogadjaji-slike, body .main-container .buketi .buketi-slike, body .main-container .box .box-slike {
      width: 96%;
      background-color: #fff;
      padding: 20px 2% 20px 2%; }
    body .main-container .usluge-gal-img-container-tab, body .main-container .vencanja .vencanja-slike .ven-img-container, body .main-container .rodjendani .rodjendani-slike .rodj-img-container, body .main-container .dogadjaji .dogadjaji-slike .dog-img-container, body .main-container .buketi .buketi-slike .buketi-con .buk-img-container, body .main-container .box .box-slike .box-con .box-img-container {
      width: 32%;
      height: 250px;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      display: inline-block;
      margin-bottom: 10px; }
    body .main-container .vencanja .vencanja-head .img-container {
      background-image: url(../img/vencanje-mob.jpg); }
    body .main-container .rodjendani .rodjendani-head .img-container {
      background-image: url(../img/rodjendani1.jpg); }
    body .main-container .dogadjaji .dogadjaji-head .img-container {
      background-image: url(../img/dogadjaji.jpg); }
    body .main-container .buketi .buketi-head .img-container {
      background-image: url(../img/buket3.jpg); }
    body .main-container .buketi .buketi-slike .buketi-con {
      width: 32%;
      display: inline-block; }
      body .main-container .buketi .buketi-slike .buketi-con p {
        font: 600 15px 'Open Sans', sans-serif;
        color: #000;
        margin-bottom: 30px; }
      body .main-container .buketi .buketi-slike .buketi-con .buk-img-container {
        margin-bottom: 10px;
        width: 100%; }
    body .main-container .box .box-head .img-container {
      background-image: url(../img/box.jpg); }
    body .main-container .box .box-slike .box-con {
      width: 32%;
      display: inline-block; }
      body .main-container .box .box-slike .box-con p {
        font: 600 15px 'Open Sans', sans-serif;
        color: #000;
        margin-bottom: 30px; }
      body .main-container .box .box-slike .box-con .box-img-container {
        margin-bottom: 10px;
        width: 100%; }
    body .main-container .template-footer .foot-cont-info .foot-info img {
      width: 30px; }
    body .main-container .template-footer .foot-cont-info .foot-info span {
      font: 600 18px 'Open Sans', sans-serif; }
    body .main-container .template-footer .social-in-template {
      width: 100px; }
      body .main-container .template-footer .social-in-template a {
        width: 30px; }
        body .main-container .template-footer .social-in-template a img {
          width: 30px; }
    body .main-container .template-footer p {
      text-align: center; } }
@media screen and (min-width: 1025px) {
  body header {
    height: 78px;
    /*.ham-but:hover .first-line {
    	margin-left: 13%;
    }
    .ham-but:hover .third-line {
    	margin-left: 13%;
    }
    .ham-but:hover .second-line {
    	margin-left: 17%;
    }*/ }
    body header .logo {
      width: 68px;
      margin-top: 5px;
      margin-left: 10%; }
    body header .ham-but {
      height: 53px;
      width: 53px;
      margin: 12.5px 10% 0 0;
      border: 1px solid #fff;
      border-radius: 50%; }
      body header .ham-but .ham-lines {
        margin: 18px auto 0 auto; }
        body header .ham-but .ham-lines .ham-line {
          width: 70%;
          margin-left: 15%; }
    body header .ham-but:hover {
      cursor: pointer; }
    body header .meni-letters {
      font: 400 10px 'Open Sans', sans-serif;
      color: #fff;
      display: block;
      float: right;
      margin: 35px 5px 0 0; }
  body .nav .usluge-show {
    cursor: pointer; }
  body .nav li:hover {
    background-color: #1b252c; }
  body .nav .proslave-show {
    cursor: pointer; }
  body .main-container {
    /* ABOUT US */
    /* CONTACT */
    /* GALERIJA */
    /*USLUGE CLASSE ZA EXTEND*/
    /* VENCANJA*/
    /* RODJENDANI*/
    /* DOGADJAJI*/
    /*BUKETI*/
    /*BOX*/
    /*BOX*/
    /*USLUGE FOOTER*/ }
    body .main-container .logo-landing {
      width: 250px;
      height: 250px; }
    body .main-container .about-us .about-us-info {
      width: 100%;
      padding: 0 50px;
      height: 500px; }
      body .main-container .about-us .about-us-info .img-container {
        width: 50%;
        height: 375px;
        padding: 50px 0 15px 0;
        margin: 0 auto;
        float: left;
        text-align: center; }
        body .main-container .about-us .about-us-info .img-container img {
          width: 300px;
          height: 375px;
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75); }
      body .main-container .about-us .about-us-info .about-us-info-container {
        width: 50%;
        height: 325px;
        margin: 0 0;
        color: #000;
        float: left;
        padding: 100px 0 15px 0; }
        body .main-container .about-us .about-us-info .about-us-info-container h1 {
          font: 400 28px 'Open Sans', sans-serif;
          width: 90%; }
        body .main-container .about-us .about-us-info .about-us-info-container p {
          font: 400 15px 'Open Sans', sans-serif;
          padding-top: 12.75px;
          width: 90%; }
        body .main-container .about-us .about-us-info .about-us-info-container ul {
          list-style: disc outside;
          font: 400 15px 'Open Sans', sans-serif;
          padding: 12.75px 0 70px 20px;
          width: 90%; }
    body .main-container .contact .contact-info {
      width: 100%;
      height: 500px;
      padding: 0 50px; }
      body .main-container .contact .contact-info .img-container {
        width: 50%;
        height: 375px;
        padding: 50px 0 15px 0;
        float: left;
        margin: 0 0;
        text-align: center; }
        body .main-container .contact .contact-info .img-container img {
          width: 300px;
          height: 375px;
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75); }
      body .main-container .contact .contact-info .contact-main-line {
        font: 400 28px 'Open Sans', sans-serif;
        width: 40%;
        margin-left: 0;
        float: left;
        padding-top: 100px; }
      body .main-container .contact .contact-info .contact-text {
        font: 600 15px 'Open Sans', sans-serif;
        padding-top: 12.75px;
        width: 40%;
        margin-left: 0;
        float: left;
        padding-bottom: 50px; }
    body .main-container .contact .dostava-prikazi-vise {
      font: 600 15px 'Open Sans', sans-serif;
      padding-top: 12.75px;
      width: 90%;
      margin: 30px 0 0 5%;
      text-align: center;
      cursor: pointer; }
      body .main-container .contact .dostava-prikazi-vise img {
        width: 15px; }
    body .main-container .contact .dostava-vise {
      font: 400 15px 'Open Sans', sans-serif;
      padding-top: 12.75px;
      width: 60%;
      margin-left: 20%;
      display: none; }
    body .main-container .contact .contact-info-container {
      width: 70%;
      padding: 50px 0 50px 20%; }
      body .main-container .contact .contact-info-container .cont-info {
        width: 30%;
        display: inline-block; }
    body .main-container .galerija .galerija-slike .gal-img-container {
      width: 19%;
      height: 38.4vh; }
    body .main-container .usluge-desktop, body .main-container .vencanja, body .main-container .rodjendani, body .main-container .dogadjaji, body .main-container .buketi, body .main-container .box {
      width: 100%;
      background-color: #162027;
      text-align: center; }
    body .main-container .usluge-head-desktop, body .main-container .vencanja .vencanja-head, body .main-container .rodjendani .rodjendani-head, body .main-container .dogadjaji .dogadjaji-head, body .main-container .buketi .buketi-head, body .main-container .box .box-head {
      width: 100%;
      background-color: #162027;
      padding: 100px 0 10px 0; }
      body .main-container .usluge-head-desktop img, body .main-container .vencanja .vencanja-head img, body .main-container .rodjendani .rodjendani-head img, body .main-container .dogadjaji .dogadjaji-head img, body .main-container .buketi .buketi-head img, body .main-container .box .box-head img {
        width: 130px;
        padding: 50px; }
    body .main-container .usluge-img-container-desktop, body .main-container .vencanja .vencanja-head .img-container, body .main-container .rodjendani .rodjendani-head .img-container, body .main-container .dogadjaji .dogadjaji-head .img-container, body .main-container .buketi .buketi-head .img-container, body .main-container .box .box-head .img-container {
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      height: 400px; }
      body .main-container .usluge-img-container-desktop h2, body .main-container .vencanja .vencanja-head .img-container h2, body .main-container .rodjendani .rodjendani-head .img-container h2, body .main-container .dogadjaji .dogadjaji-head .img-container h2, body .main-container .buketi .buketi-head .img-container h2, body .main-container .box .box-head .img-container h2 {
        font: 500 40px 'Open Sans', sans-serif;
        color: #fff;
        padding-top: 150px; }
      body .main-container .usluge-img-container-desktop img, body .main-container .vencanja .vencanja-head .img-container img, body .main-container .rodjendani .rodjendani-head .img-container img, body .main-container .dogadjaji .dogadjaji-head .img-container img, body .main-container .buketi .buketi-head .img-container img, body .main-container .box .box-head .img-container img {
        width: 80px;
        padding: 10px; }
    body .main-container .usluge-info-desktop, body .main-container .vencanja .vencanja-info, body .main-container .rodjendani .rodjendani-info, body .main-container .dogadjaji .dogadjaji-info, body .main-container .buketi .buketi-info, body .main-container .box .box-info {
      width: 60%;
      background-color: #162027;
      text-align: left;
      color: #fff;
      margin: 0 auto;
      padding-bottom: 80px; }
      body .main-container .usluge-info-desktop h5, body .main-container .vencanja .vencanja-info h5, body .main-container .rodjendani .rodjendani-info h5, body .main-container .dogadjaji .dogadjaji-info h5, body .main-container .buketi .buketi-info h5, body .main-container .box .box-info h5 {
        font: 400 20px 'Open Sans', sans-serif;
        margin-left: 10px; }
      body .main-container .usluge-info-desktop p, body .main-container .vencanja .vencanja-info p, body .main-container .rodjendani .rodjendani-info p, body .main-container .dogadjaji .dogadjaji-info p, body .main-container .buketi .buketi-info p, body .main-container .box .box-info p {
        font: 400 16px 'Open Sans', sans-serif; }
    body .main-container .usluge-slike-desktop, body .main-container .vencanja .vencanja-slike, body .main-container .rodjendani .rodjendani-slike, body .main-container .dogadjaji .dogadjaji-slike, body .main-container .buketi .buketi-slike, body .main-container .box .box-slike {
      width: 96%;
      background-color: #fff;
      padding: 20px 2% 20px 2%; }
    body .main-container .usluge-gal-img-container-desktop, body .main-container .vencanja .vencanja-slike .ven-img-main-container, body .main-container .vencanja .vencanja-slike .ven-img-main-container .ven-img-container, body .main-container .rodjendani .rodjendani-slike .rodj-img-main-container, body .main-container .rodjendani .rodjendani-slike .rodj-img-main-container .rodj-img-container, body .main-container .dogadjaji .dogadjaji-slike .dog-img-main-container, body .main-container .buketi .buketi-slike .buketi-con .buk-img-main-container, body .main-container .buketi .buketi-slike .buketi-con .buk-img-main-container .buk-img-container, body .main-container .box .box-slike .box-con .box-img-main-container, body .main-container .box .box-slike .box-con .box-img-main-container .box-img-container {
      width: 19%;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      display: inline-block;
      margin-bottom: 10px;
      overflow-x: hidden;
      overflow-y: hidden; }
    body .main-container .vencanja .vencanja-head .img-container {
      background-image: url(../img/ven-desktop.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-main-container .ven-img-container {
      width: 100%;
      height: 100%; }
    body .main-container .rodjendani .rodjendani-head .img-container {
      background-image: url(../img/rodj-desktop.jpg); }
    body .main-container .rodjendani .rodjendani-slike .rodj-img-main-container .rodj-img-container {
      width: 100%;
      height: 100%; }
    body .main-container .dogadjaji .dogadjaji-head .img-container {
      background-image: url(../img/dog-desktop.jpg); }
    body .main-container .dogadjaji .dogadjaji-slike .dog-img-main-container .dog-img-container {
      width: 100%;
      height: 100%;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      display: inline-block;
      margin-bottom: 10px;
      overflow-x: hidden;
      overflow-y: hidden; }
    body .main-container .buketi .buketi-head .img-container {
      background-image: url(../img/buk-desktop.jpg); }
    body .main-container .buketi .buketi-slike .buketi-con {
      width: 19%;
      display: inline-block; }
      body .main-container .buketi .buketi-slike .buketi-con .buk-img-main-container {
        width: 100%; }
        body .main-container .buketi .buketi-slike .buketi-con .buk-img-main-container p {
          font: 600 15px 'Open Sans', sans-serif;
          color: #000;
          margin-bottom: 30px; }
        body .main-container .buketi .buketi-slike .buketi-con .buk-img-main-container .buk-img-container {
          width: 100%;
          height: 100%; }
    body .main-container .box .box-head .img-container {
      background-image: url(../img/box.jpg); }
    body .main-container .box .box-slike .box-con {
      width: 19%;
      display: inline-block; }
      body .main-container .box .box-slike .box-con .box-img-main-container {
        width: 100%; }
        body .main-container .box .box-slike .box-con .box-img-main-container p {
          font: 600 15px 'Open Sans', sans-serif;
          color: #000;
          margin-bottom: 30px; }
        body .main-container .box .box-slike .box-con .box-img-main-container .box-img-container {
          width: 100%;
          height: 100%; }
    body .main-container .template-footer {
      width: 80%;
      padding: 40px 10%;
      border-top: 1px solid #162027;
      background-color: #fff;
      text-align: center; }
      body .main-container .template-footer .foot-cont-info {
        width: 100%; }
        body .main-container .template-footer .foot-cont-info .foot-info {
          padding-top: 20px;
          padding-left: 20px;
          display: inline-block; }
          body .main-container .template-footer .foot-cont-info .foot-info img {
            width: 20px; }
          body .main-container .template-footer .foot-cont-info .foot-info span {
            font: 600 13px 'Open Sans', sans-serif;
            color: #000;
            padding-left: 10px; }
      body .main-container .template-footer .social-in-template {
        width: 80px;
        padding-top: 40px;
        margin: 0 auto; }
        body .main-container .template-footer .social-in-template a {
          width: 20px;
          display: inline-block; }
          body .main-container .template-footer .social-in-template a img {
            width: 20px; }
        body .main-container .template-footer .social-in-template a:last-child {
          margin-left: 25px; }
      body .main-container .template-footer p {
        font: 600 16px 'Open Sans', sans-serif;
        color: #000;
        padding: 25px 0 40px 0; } }

/*# sourceMappingURL=style.css.map */
