@media screen and (min-width: 1025px) {
	body  {
	header {
		height: 78px;
		.logo {
			width: 68px;
			margin-top: 5px;
			margin-left: 10%;
		}
		.ham-but {
			height: 53px;
			width: 53px;
			margin: 12.5px 10% 0 0;
			border: 1px solid #fff;
			border-radius: 50%;
			.ham-lines {
				margin: 18px auto 0 auto;
				.ham-line {
					width: 70%;
					margin-left: 15%;
				}
				
			}

		}
		.ham-but:hover {
			cursor: pointer;
		}
		/*.ham-but:hover .first-line {
			margin-left: 13%;
		}
		.ham-but:hover .third-line {
			margin-left: 13%;
		}
		.ham-but:hover .second-line {
			margin-left: 17%;
		}*/
		.meni-letters {
				font: 400 10px 'Open Sans', sans-serif;
				color: #fff;
				display: block;
				float: right;
				margin: 35px 5px 0 0;
			}
	}
	.nav {
		.usluge-show {
			cursor: pointer;
		}
		li:hover {
			background-color: rgba(27, 37, 44, 1);
		}

		.proslave-show {
			cursor: pointer;
		}
	}
	.main-container {
		.logo-landing {
			width: 250px;
			height: 250px;
		}

		/* ABOUT US */

		.about-us {
			.about-us-info {
				width: 100%;
				padding: 0 50px;
				height: 500px;
				.img-container {
					width: 50%;
					height: 375px;
					padding: 50px 0 15px 0;
					margin: 0 auto;
					float: left;
					text-align: center;
					img {
					width: 300px;
					height: 375px;
					box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
					}
				}
					
				.about-us-info-container {
					width: 50%;
					height: 325px;
					margin: 0 0;
					color: #000;
					float: left;
					padding: 100px 0 15px 0;
					h1 {
						font: 400 28px 'Open Sans', sans-serif;
						width: 90%;
					}
					p {
						font: 400 15px 'Open Sans', sans-serif;
						padding-top: 12.75px;
						width: 90%;
					}
					ul {
						list-style: disc outside;
						font: 400 15px 'Open Sans', sans-serif;
						padding: 12.75px 0 70px 20px;
						width: 90%;
					}
				}
			}
		}
				/* CONTACT */

		.contact {
			.contact-info {
				width: 100%;
				height: 500px;
				padding: 0 50px;
				.img-container {
				width: 50%;
				height: 375px;
				padding: 50px 0 15px 0;
				float: left;
				margin: 0 0;
				text-align: center;
				img {
					width: 300px;
					height: 375px;
					box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
				}
				}
				.contact-main-line {
					font: 400 28px 'Open Sans', sans-serif;
					width: 40%;
					margin-left: 0;
					float: left;
					padding-top: 100px;
				}
				.contact-text {
					font: 600 15px 'Open Sans', sans-serif;
					padding-top: 12.75px;
					width: 40%;
					margin-left: 0;
					float: left;
					padding-bottom: 50px;
				}
				
			}
			.dostava-prikazi-vise {
					font: 600 15px 'Open Sans', sans-serif;
					padding-top: 12.75px;
					width: 90%;
					margin: 30px 0 0 5%;
					text-align: center;
					cursor: pointer;

					img {
						width: 15px;
					}
				}
			.dostava-vise {
				font: 400 15px 'Open Sans', sans-serif;
				padding-top: 12.75px;
				width: 60%;
				margin-left: 20%;
				display: none;

			}
			.contact-info-container {
				width: 70%;
				padding: 50px 0 50px 20%;
				.cont-info {
					width: 30%;
					display: inline-block;
				}
			}
		}

		/* GALERIJA */

		.galerija {
			.galerija-slike {
				.gal-img-container {
					width: 19%;
					height: 38.4vh;
				}
			}
		}

		/*USLUGE CLASSE ZA EXTEND*/

		.usluge-desktop {
			width: 100%;
			background-color: #162027;
			text-align: center;
		}
		.usluge-head-desktop {
			width: 100%;
			background-color: #162027;
			padding: 100px 0 10px 0;
			img {
				width: 130px;
				padding: 50px;
			}
		}
		.usluge-img-container-desktop {
			-webkit-background-size: cover;
			background-size: cover;
			background-position: center;
			height: 400px;
			h2 {
				font: 500 40px 'Open Sans', sans-serif;
				color: #fff;
				padding-top: 150px;
			}
			img {
				width: 80px;
				padding: 10px;
			}
		}

		.usluge-info-desktop {
			width: 60%;
			background-color: #162027;
			text-align: left;
			color: #fff;
			margin: 0 auto;
			padding-bottom: 80px;
			h5 {
				font: 400 20px 'Open Sans', sans-serif;
				margin-left: 10px;
			}
			p {
				font: 400 16px 'Open Sans', sans-serif;
			}
		}
		.usluge-slike-desktop {
			width: 96%;
			background-color: #fff;
			padding: 20px 2% 20px 2%;
		}
		.usluge-gal-img-container-desktop {
			width: 19%;
			-webkit-background-size: cover;
			background-size: cover;
			background-position: center;
			display: inline-block;
			margin-bottom: 10px;
			overflow-x: hidden;
			overflow-y: hidden;

		}


			/* VENCANJA*/
		
		.vencanja {
			@extend .usluge-desktop;
			.vencanja-head {
				@extend .usluge-head-desktop;
				.img-container {
					background-image: url(../img/ven-desktop.jpg);
					@extend .usluge-img-container-desktop;
				}
			}
			.vencanja-info {
				@extend .usluge-info-desktop;
			}
			.vencanja-slike {
				@extend .usluge-slike-desktop;
				.ven-img-main-container {
					@extend .usluge-gal-img-container-desktop;
					.ven-img-container {
						@extend .usluge-gal-img-container-desktop;
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		/* RODJENDANI*/

		.rodjendani {
			@extend .usluge-desktop;
			.rodjendani-head {
				@extend .usluge-head-desktop;
				.img-container {
					background-image: url(../img/rodj-desktop.jpg);
					@extend .usluge-img-container-desktop;
				}
			}
			.rodjendani-info {
				@extend .usluge-info-desktop;
			}
			.rodjendani-slike {
				@extend .usluge-slike-desktop;
				.rodj-img-main-container {
					@extend .usluge-gal-img-container-desktop;
					.rodj-img-container {
						@extend .usluge-gal-img-container-desktop;
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		/* DOGADJAJI*/

		.dogadjaji {
			@extend .usluge-desktop;
			.dogadjaji-head {
				@extend .usluge-head-desktop;
				.img-container {
					background-image: url(../img/dog-desktop.jpg);
					@extend .usluge-img-container-desktop;
				}
			}
			.dogadjaji-info {
				@extend .usluge-info-desktop;
			}
			.dogadjaji-slike {
				@extend .usluge-slike-desktop;
				.dog-img-main-container {
					@extend .usluge-gal-img-container-desktop;
					.dog-img-container {
						width: 100%;
						height: 100%;
						-webkit-background-size: cover;
						background-size: cover;
						background-position: center;
						display: inline-block;
						margin-bottom: 10px;
						overflow-x: hidden;
						overflow-y: hidden;
					}
				}
			}
		}
		/*BUKETI*/
		.buketi {
			@extend .usluge-desktop;
			.buketi-head {
				@extend .usluge-head-desktop;
				.img-container {
					background-image: url(../img/buk-desktop.jpg);
					@extend .usluge-img-container-desktop;
				}
			}
			.buketi-info {
				@extend .usluge-info-desktop;
			}
			.buketi-slike {
				@extend .usluge-slike-desktop;
				.buketi-con{
					width: 19%;
					display: inline-block;
					.buk-img-main-container {
						@extend .usluge-gal-img-container-desktop;
						width: 100%;
						p {
							font: 600 15px 'Open Sans', sans-serif;
							color: #000;
							margin-bottom: 30px;
						}
						.buk-img-container {
							@extend .usluge-gal-img-container-desktop;
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
		/*BOX*/
		.box {
			@extend .usluge-desktop;
			.box-head {
				@extend .usluge-head-desktop;
				.img-container {
					background-image: url(../img/box.jpg);
					@extend .usluge-img-container-desktop;
				}
			}
			.box-info {
				@extend .usluge-info-desktop;
			}
			.box-slike {
				@extend .usluge-slike-desktop;
				.box-con{
					width: 19%;
					display: inline-block;
					.box-img-main-container {
						@extend .usluge-gal-img-container-desktop;
						width: 100%;
						p {
							font: 600 15px 'Open Sans', sans-serif;
							color: #000;
							margin-bottom: 30px;
						}
						.box-img-container {
							@extend .usluge-gal-img-container-desktop;
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}

		/*BOX*/


		/*USLUGE FOOTER*/
				.template-footer {
				width: 80%;
				padding: 40px 10%;
				border-top: 1px solid #162027;
				background-color: #fff;
				text-align: center;
				.foot-cont-info {
					width: 100%;


					.foot-info {
						padding-top: 20px;
						padding-left: 20px;
						display: inline-block;
						img {
							width: 20px;
						}
						span {
							font: 600 13px 'Open Sans', sans-serif;
							color: #000;
							padding-left: 10px;
						}
					}
				}
				.social-in-template {
					width: 80px;
					padding-top: 40px;
					margin: 0 auto;
					a {
						width: 20px;
						display: inline-block;
						img {
							width: 20px;
						}
					}
					a:last-child {
						margin-left: 25px;
					}
				}
				p {
					font: 600 16px 'Open Sans', sans-serif;
					color: #000;
					padding: 25px 0 40px 0;
				}
			}
	}

}
}