body  {
	width: 100%;
	height: 100%;
	background-color: #191919;
	overflow: hidden; 
	.first-page {
		width: 100%;
		height: 100vh;
		background-color: #191919;
		color: #fff;

		.heading {
			height: 12%;
			.heading-logo {
				width: 12%;
				float: left;
				margin: 2.5%;
			}
			h1 {
				font: 400 2rem 'Caveat', cursive;
				float: left;
				margin: 3% 2.5% 0 2.5%;
				color: #fff;
			}
			.ham-but {
				height: 15px;
				width: 27px;
				margin: 23.5px 15px 0 0;
				float: right;
				transition: 0.3s;
				.ham-line {
					width: 100%;
					height: 1px;
					background-color: #fff;
					transition: 0.1s;
					position: relative;
				}
				.first-line {
					background-color: #69C9CF;
				}
				.second-line {
					top: 7px;
					background-color: #ED2052;
				}
				.third-line {
					top: 14px;
					background-color: #69C9CF;
				}
				.change1 {
					top: 8px;
					transform: rotate(45deg);
				}
				.change2 {
					transform: rotate(-45deg);
					top: 7px;
				}

			}
		}
		.nav-bar {
			width: 100px;
			float: right;
			display: none;
			.nav-line {
				height: 30px;
				width: 90%;
				font: 600 20px 'Roboto', sans-serif;
				margin: 25px 0 0 0;
				/*background-color: brown;*/
			}
		}
		.home-page-heading {
			font: 400 3rem 'Do Hyeon', sans-serif;
			color: #fff;
			margin: 30% 0 0 5%;
		}
		.flashing {
			animation: flashing 1s infinite;
			float: left;
		}
		@keyframes flashing {
			0% {opacity: 0%;}
			50% {opacity: 100%;}
			100% {opacity: 0%;}
		}
		.vm {
			background: url("../img/logo-black-256.png");
			background-size: cover;
			position: absolute;
			bottom: 20%;
			animation: opacity 4s infinite;
			opacity: 20%;
		}
		@keyframes opacity {
			0% {opacity: 2%;}
			50% {opacity: 20%;}
			100% {opacity: 2%;}
		}
	}
}
