body  {
	width: 100%;
	height: 100%;
	background-color: #191919;
	overflow: hidden;
	.container {
		width: 100%;
		height: 100vh;
		background-color: #1f1f1f;
		color: #fff;
		overflow: hidden;
		max-height: 100%;
		max-width: 100%; 

		.heading {
			height: 10%;
			background-color: #181818;
			.heading-logo {
				width: 12%;
				float: left;
				margin: 2.5% 0 2.5% 44%;
			}
			.ham-but {
				height: 15px;
				width: 27px;
				margin: 23.5px 15px 0 0;
				float: right;
				transition: 0.3s;
				.ham-line {
					width: 100%;
					height: 1px;
					background-color: #fff;
					transition: 0.1s;
					position: relative;
				}
				.first-line {
					background-color: #69C9CF;
				}
				.second-line {
					top: 7px;
					background-color: #ED2052;
				}
				.third-line {
					top: 14px;
					background-color: #69C9CF;
				}
				.change1 {
					top: 8px;
					transform: rotate(45deg);
				}
				.change2 {
					transform: rotate(-45deg);
					top: 7px;
				}

			}
		}
		.vm {
			background: url("../img/logo-black-256.png");
			background-size: cover;
			position: absolute;
			bottom: 18%;
			animation: opacity 4s infinite;
			opacity: 20%;
			z-index: 1;

		}
		@keyframes opacity {
			0% {opacity: 2%;}
			50% {opacity: 20%;}
			100% {opacity: 2%;}
		}
/*navigatin bar*/
		.nav-bar {
			width: 0;
			height: 7%;
			background-color: #181818;
			float: right;
			overflow: hidden;
			.nav-line {
				width: 19%;
				display: inline-block;
				text-align: center;
				margin-top: 3%;
				img {
					width: 30%;
					opacity: 0;	
					/*display: none;*/
				}
			}
		}


		
/*landing page letters*/

		.content {
			color: #fff;
			width: 100%;
				height: 100%;
			/*lasnding page content*/
			.home-page-content {
				top: 50%;
				left: 5%;
				position: absolute;
				.name {
					display: none;
					font: 400 3rem 'Do Hyeon', sans-serif;
				}
				.name-2 {
					font: 400 3rem 'Do Hyeon', sans-serif;
				}

				.last-name {
					display: none;
					font: 400 3rem 'Do Hyeon', sans-serif;
				}
				.last-name-2 {
					font: 400 3rem 'Do Hyeon', sans-serif;
				}

				.web-developer {
					display: none;
					font: 400 2rem 'Do Hyeon', sans-serif;
				}
				.web-developer-2 {
					font: 400 2rem 'Do Hyeon', sans-serif;
				}
				.flashing {
					animation: flashing 1s infinite;
					font: 400 3rem 'Do Hyeon', sans-serif;
				}
				@keyframes flashing {
					0% {opacity: 0%;}
					50% {opacity: 100%;}
					100% {opacity: 0%;}
				}
			}

			.page-title {
				font: 200 2rem 'Open Sans', sans-serif;
				margin: 15% 0 0 5%;
				color: #69C9CF;
				opacity: 0;
				transition: 0.5s;
			}

			/*about page content*/
			.about-page {
				width: 100%;
				.about-first-paragraph, .about-second-paragraph, .about-third-paragraph {
					width: 80%;
					font: 200 0.9rem 'Open Sans', sans-serif;
					/*text-shadow: -8px 5px 1px #000;*/
				}
				.about-first-paragraph {
					margin: 7% 0 0 -80%;
					transition: 1s;
				}
				.about-second-paragraph {
					margin: 7% 0 0 100%;
					transition: 1s;
				}
				.about-third-paragraph {
					margin: 7% 0 0 -80%;
					transition: 1s;
				}
				.about-my-image {
					position: absolute;
					bottom: 0;
					right: -80%;
					transition: 1s;
					background: url("../img/myimagemedium.png");
					background-size: cover;				}
			}
			/*skills page content*/
			.skills-page {
				width: 100%;
				.skills-first-paragraph, .skills-second-paragraph, .skills-third-paragraph {
					width: 80%;
					font: 200 0.9rem 'Open Sans', sans-serif;
					margin: 5% 0 0 -80%;
					transition: 1s;
				}
				.skills-icons-wrap {
					width: 120%;
					margin: 1% 0 0 105%;
					border-radius: 100%;
					animation: spin 20s infinite;
					transition: 1s;
					.skill-icon {
						width: 20%;
					}
					.html-icon {
						margin: 40% 0 0 0;
						transform: rotate(-90deg);
						float: left;
					}
					.css-icon {
						margin: 12% 0 0 -9%;
						transform: rotate(-45deg);
						float: left;
					}
					.java-script-icon {
						margin: 0 0 0 10%;
						float: left;
					}
					.sass-icon {
						margin: 14% 0 0 10%;
						transform: rotate(50deg);
						float: left;
					}
					.jquery-icon {
						margin: 6% 0 0 0;
						transform: rotate(90deg);
						float: right;
					}
					.ps-icon {
						margin: 33% -7% 0 0;
						transform: rotate(133deg);
						float: right;
					}
					.ai-icon {
						margin: 45% 8% 0 0;
						transform: rotate(-180deg);
						float: right;
					}
					.xd-icon {
						margin: 7% 8% 0 0;
						transform: rotate(-133deg);
						float: right;
					}
				}
				@keyframes spin {
					100% {transform: rotate(360deg);}
				}
			}
			/*my work page content*/
			.my-work-page {
				width: 100%;
				z-index: 10;
				position: relative;
				.blomm, .nice, {
					width: 90%;
					transition: 1s;
					img {
						width: 100%;
						}
					h1 {
						font: 200 0.9rem 'Open Sans', sans-serif;
						color: #fff;
						text-align: center;
					}
				}
				.blomm {
					margin: 10% 0 0 -100%;
				}
				.nice {
					margin: 5% 0 0 105%;
				}
			}
			/*contact page content*/
			.contact-page {
				width: 100%;
				height: 100%;
				z-index: 10;
				position: relative;
				.contact-first-paragraph, .contact-second-paragraph {
					width: 80%;
					font: 200 0.9rem 'Open Sans', sans-serif;
					margin: 5% 0 0 -80%;
					transition: 1s;
				}
				.email, .tel, .link, .insta {
					width: 90%;
					margin: 15% 0 0 105%;
					height: 7%;
					transition: 1s;
					img {
						width: 10%;
						float: left;
						margin: 0 0 0 10%;
					}
					p {
						font: 200 0.8rem 'Open Sans', sans-serif;
						float: left;
						color: #fff;
						margin: 3% 0 0 10%;
					}
				}
				.tel, .link, .insta {
					margin-top: 3%;
				}
			}
		}
		

	}
}
