body  {
	width: 100%;
	height: 100%;
	background-color: #000;
	overflow-x: hidden; 
	.first-page {
		width: 100%;
		height: 100vh;
		background-color: #000;
		color: #fff;
		.heading {
			height: 100px;
			background-image: $headLine;
			h1 {
				font: 400 40px 'Oleo Script Swash Caps', cursive;
				margin-left: 5%;
				float: left;
			}
			h5 {
				font: 600 20px 'Roboto', sans-serif;
				margin-left: 10%;
				float: left;
			}
			.ham-but {
				height: 15px;
				width: 27px;
				margin: 23.5px 15px 0 0;
				float: right;
				transition: 0.3s;
				.ham-line {
					width: 100%;
					height: 1px;
					background-color: #fff;
					transition: 0.1s;
					position: relative;
				}
				.second-line {
					top: 7px;
				}
				.third-line {
					top: 14px;
				}
				.change1 {
					top: 8px;
					transform: rotate(45deg);
				}
				.change2 {
					transform: rotate(-45deg);
					top: 7px;
				}

			}
		}
		.nav-bar {
			width: 50%;
			/*background-color: red;*/
			.nav-line {
				height: 30px;
				width: 90%;
				font: 600 20px 'Roboto', sans-serif;
				margin: 25px 0 0 10%;
				/*background-color: brown;*/
			}
		}
		.vm {
			background: url("../img/background-mobile3.png");
			background-size: cover;
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
	.second-page {
		width: 100%;
		height: 100vh;
		background-color: red;
		color: white;
	}
}
